# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. stata

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. plotly
3. numpy

| Data Science Tools|
| -------------|
| R | 
| Python | 
| SQL |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**

- Create a Jupyter Notebook
- List Data Science languages
- Multiply and add numbers
- Convert minutes to hours

## Author
vamsi k